body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#main {
    width: 60%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 5px 0;
}
