body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#main {
    width: 60%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 5px 0;
}

.close:hover {
    color: #000; /* Change color on hover */
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-results {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    margin-top: 5px;
    padding: 0;
}

.search-results li {
    list-style-type: none;
    padding: 8px 12px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f1f1f1;
}
