body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#main {
    width: 60%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 5px 0;
}

/* Align header elements */
header {
    padding: 10px;
    background-color: #b6daeb; /* Optional: Adds a light background to the header */
}

/* Button styles */
#logoutButton {
    background-color: transparent;
    color: #000; /* Default text color */
    border: 1px solid #000; /* Optional: Adds a border */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

#logoutButton:hover {
    background-color: red;
    color: #fff; /* Text color on hover */
    border: 1px solid red; /* Optional: Change border color on hover */
}


.close:hover {
    color: #000; /* Change color on hover */
}

.search-container {
    position: relative;
    display: inline-block;
}

.search-results {
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    margin-top: 5px;
    padding: 0;
}

.search-results li {
    list-style-type: none;
    padding: 8px 12px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f1f1f1;
}
